body {
}

body #quiz #centerBox {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#centerBox {
  width: 500px;
  height: 500px;
  background: black;
  color: white;
  /* margin: auto;
  display: flex;
  justify-content: center;
  justify-self: center; */
}

#container {
  border-color: tomato;
  /* THIS IS FOR NOW IT WONT R
  REALLY CHANGE ANYTHING UNLESS I SPECIFY BORDERSTYLING */
}

#jsHeader {
  justify-content: center;
  margin-bottom: 15px !important;
}

#questionSection {
  justify-content: center;
  margin: 0% !important;
  padding: 30px !important;
  padding-top: 0% !important;
  padding-bottom: 0% !important;
}

#answerSection {
  margin: 0% !important;
  padding: 10px !important;
  padding-top: 0% !important;
  justify-content: left;
  justify-content: center;
  color: white !important;
}
#rowQ {
  border-bottom: thick white solid;
}

#intro {
  font-size: 40px;
  text-align: center !important;
}

.rowBtn {
  margin-top: 25% !important;
  justify-content: center !important;
}

#userScore {
  display: flex !important;
  text-align: center !important;
  justify-items: center !important;
  visibility: hidden !important;
  color: white;
}

.hidden {
  display: none;
}
